src/thesis_BA.code-workspace
data/gtfs
src/data/osm_data
src/data/indices/osm_data.json
src/__pycache__/
.vscode/launch.json
data/output
src/cache
cache
data/destinations/src-data
src/data/population
results
